<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个对应的Dao接口-->
<mapper namespace="com.cz.Dao.UserDao">
    <!--  查询所有用户-->
    <select id="getAllUsers" resultType="user">
        SELECT * FROM mybatis.user
    </select>


    <!--  插入用户-->
    <insert id="addUser" parameterType="User">
        INSERT INTO mybatis.user(id, name, pwd) VALUES(#{id}, #{name}, #{pwd})
    </insert>

    <!--  更新用户-->
    <update id="updateUser" parameterType="User">
        UPDATE mybatis.user SET name = #{name}, pwd = #{pwd} WHERE id = #{id}
    </update>

    <!--  删除用户-->
    <delete id="deleteUser" parameterType="int">
        DELETE FROM mybatis.user WHERE id = #{id}
    </delete>

</mapper>