<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个对应的Dao接口-->
<mapper namespace="com.cz.Dao.UserDao">
    <!--  查询语句-->
    <select id="getAllUsers" resultType="com.cz.pojo.User">
        SELECT * FROM mybatis.user
    </select>

</mapper>